body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 400px;
}
.wrapper {
    width: 380px;
    margin: 0px auto;
    display: inline-block;
}
#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}
#bookmark {
    display: none;
}
label {
    padding-top: 10px;
    margin-top: 10px;
}
img:hover {
    border: 5px solid gray;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 1em;
    margin: 5px;
    border: 5px solid transparent;
}
.chosen {
    border: 5px solid red;
}

.chosen:hover{
  border: 5px solid red;
}
#image-results {
    width: 350px;
    height: 350px;
    overflow: scroll;
}

input{
  width: 300px;
}
