// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 input {
   width : 100px;
   height:60px;
   margin: 0 auto;
 }
#search{
  width: 68%;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  position: cover;
}

.loginBtn{
  margin-top: 25px;
}
.ratings img{
  width:25px;
  height:25px;
}
#rating,#recipe_rating {
 width: 102px;
 /* border: 1px solid black; */
 overflow-x: hidden;
}

.wrapper {
 width: 102px;
}

.box {
 display: inline-block;
 border-radius: 100%;
 color: gold;
 width: 10px;
 height: 10px;
}
.hidden {
  display: none;
}
