// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
    font-family:'PT Sans Narrow', sans-serif;
    margin-top: 70.4px;
    margin-bottom: 80px;
    // background-image: url(coverPhoto.jpg);
    // background-size: cover;
    // height: 100vh;
}
@media (min-width: 690px) {
  body{
    margin-top: 70.4px;
    margin-bottom: 50px;
  }
  #swipeBox {
      max-width: 600px;
      text-align: center;
  }
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
h2{
  margin-top: 10px;
}
h2 a{
  color: white;
  margin-left: 15px;
}
h2 a:hover{
  text-decoration: none;
  color: #777;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 22px;
}

#palateLogo{
  font-family: 'Pacifico', cursive !important;
  vertical-align: middle;
  font-size: 2em;
  color: white !important;
  text-decoration: none !important;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: 0px;
}
.wrapper {
 width: 102px;
}

// img {
//   width: 300px;
//   height: 300px;
//   // border-radius: 1em;
//   position: cover;
// }

.loginBtn{
  margin-top: 25px;
}
.ratings img{
  width:25px;
  height:25px;
}
#rating,#recipe_rating {
 width: 102px;
 /* border: 1px solid black; */
 overflow-x: hidden;
}

.box {
 display: inline-block;
 border-radius: 100%;
 color: gold;
 width: 17px;
 height: 10px;
}
.hidden {
  display: none;
}

.homepage{
  background-image: url('/assets/coverPhoto.jpg');
  background-size: cover;
  height: 100vh;
}

#logo{
  font-family: 'Pacifico', cursive;
  font-size: 20vw;
  color: white;
  text-align: center;
}
.navbar-default {
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
}
.btn-primary {
    color: #fff;
    background-color: #5e7028;
    border-color: #5e7028;
}
.homeLabel{
  padding-top: 10px;
  color: white;
}
