// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 input {
   width : 100px;
   height:60px;
   margin: 0 auto;
 }
#search{
  width: 68%;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  position: cover;
}

.loginBtn{
  margin-top: 25px;
}
