// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showHeader h1{
  text-align: center;
}
.showContainer{
  display: inline-block;
  text-align: center;
  margin: 0px auto;
}
.discoveryhead{
  margin-top: -20px !important;
}

h1.discovery{
  margin-top: 30px;
}
form{
  margin-top: 10px;
}
input{
  border: 1px solid #ccc;
  border-radius: 5px;
}
select{
    border: 1px solid #ccc;
    border-radius: 5px;
}
input.searchButton{
  padding-top: 4px;
  font-size: 150%;
}
.results{
  padding: 15px;
  text-align: center;
}

.recipe-card{
  border: 1px solid black;
  height: 420px;
  text-align: center;
  // border-radius: 15px;
}

.recipe-card img{
  width: 100%;
  height: 100%;
  position: cover;
}
.searchButton{
  color: white;
  background-color: #7890cd;
  height:50px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

#search{
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  font-size: 150%;
}
.card-wrapper{

}
#card-title{
  text-align: left;
  font-size: 1.5em;
  padding-left: 5px;
}

#swipeBox{
  max-width:450px;
  text-align: center;
}

.showImage{
  max-width: 100%;
  text-align: center;
}
#ingredients{
  text-align: justify;
}
#directions{
  text-align: justify;
}

//
// #showContainer{
//   text-align: center;
//   background: rgba(106, 1, 54, 1);
//   border-radius: 5em;
//   padding: 20px;
//   color: white;
// }

.carousel{
 width: 50%;
 height: 400px;
 margin: 0 auto;

}

.carousel-inner > .item > img {
   margin: 0 auto;
   text-align: center;
   width: auto;
   height: auto;

}
