// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
// #footer {
//   height: 60px;
//   background-color: #7890cd;
// }

nav{
  background-color: none;
  border: none;

}


#wrap > .container {
  padding: 10px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}



.navbar-header {
 	float:none;
    width:100%;
    padding:10px;
    background: #7890cd;

}



.navbar-default .navbar-brand {
    color: white;
    margin-top: 0px !important;
    display: block;
}

.navbar-brand {
    font-size:30pt;
    float:none;
}
#bottomNav {
	padding:10px;
}
#bottomNav a {
    font-size:18pt;
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}
